<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<div class="auth-wrapper">

    <h2 class="auth-title">Admin Login</h2>

    <div class="auth-card">
        <form method="POST" action="/login">
            <input type="text" name="username" placeholder="Admin Username" required>
            <input type="password" name="password" placeholder="Admin Password" required>
            <button class="auth-btn">Login</button>
        </form>
    </div>

</div>
</body>
</html>
