<!DOCTYPE html>
<html>
<head>
    <title>Create Account</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<div class="auth-wrapper">

    <h2 class="auth-title">Create Account</h2>

    <div class="auth-card">
        <form action="/signup" method="POST">
            <input type="text" name="username" placeholder="Choose Username" required>
            <input type="password" name="password" placeholder="Choose Password" required>
            <button class="auth-btn">Sign Up</button>
        </form>
    </div>

</div>
</body>
</html>
